html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#consult {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: 680px;
    border: 5px solid #4CAF50;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    background-color: white;
    border : 1px solid black;
}